<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8080bb">  <td>18/02/05 09:50:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MercuryReservation.starttest(java.lang.String)[pri:0, instance:com.test.integration_test.MercuryReservation@dc24521]">&gt;&gt;starttest</td> 
<td>&nbsp;</td>  <td>TestNG@732082373</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>18/02/05 09:50:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest3.starttest(java.lang.String)[pri:0, instance:com.test.integration_test.NewTest3@3c0f93f1]">&gt;&gt;starttest</td> 
<td>&nbsp;</td>  <td>TestNG@134213981</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>18/02/05 09:50:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MercuryPurchaseTest.starttest(java.lang.String)[pri:0, instance:com.test.integration_test.MercuryPurchaseTest@56ac3a89]">&gt;&gt;starttest</td> 
<td>&nbsp;</td>  <td>TestNG@751458545</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>18/02/05 09:50:38</td>   <td>22665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MercuryPurchaseTest.TC_Test_Resrvation()[pri:0, instance:com.test.integration_test.MercuryPurchaseTest@56ac3a89]">TC_Test_Resrvation</td> 
  <td>TestNG@751458545</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>18/02/05 09:50:39</td>   <td>23423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MercuryReservation.TC_Test_Login()[pri:0, instance:com.test.integration_test.MercuryReservation@dc24521]">TC_Test_Login</td> 
  <td>TestNG@732082373</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>18/02/05 09:50:49</td>   <td>33584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest3.TC_Test_Login()[pri:0, instance:com.test.integration_test.NewTest3@3c0f93f1]">TC_Test_Login</td> 
  <td>TestNG@134213981</td>   <td></td> </tr>
</table>
